In [1]:
import pandas as pd

# 1. Create the DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

# 2a. Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))

# 2b. Add a new column named 'Bonus' where the bonus is 10% of the salary
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

# 2c. Calculate the average salary of employees in the DataFrame
average_salary = df['Salary'].mean()
print(f"\nAverage Salary: {average_salary}")

# 2d. Filter and display employees who are older than 25
filtered_employees = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(filtered_employees)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0